

<p style="color: green"><%= notice %></p>

<%= render @cocoapuff %>

<div>
  <%= link_to "Show fruity Pebbles", cocoapuff_fruty_pebbles_path(@cocoapuff) %>


  <%= link_to "Edit this cocoapuff", edit_cocoapuff_path(@cocoapuff) %> |
  <%= link_to "Back to cocoapuffs", cocoapuffs_path %>

  <%= button_to "Destroy this cocoapuff", @cocoapuff, method: :delete %>
</div>
